mixin social()
    .social&attributes(attributes)
        a(href="http://vk.com/coolvideo" title="ВКонтакте" target="_blank" rel="nofollow").social__icon.social__icon--vk
        a(href="https://www.facebook.com/timursalikhov" title="Facebook" target="_blank" rel="nofollow").social__icon.social__icon--fb
        a(href="https://www.youtube.com/channel/UCr2NBh2gQ_Hh8_SsY8Sc6yA" title="YouTube" target="_blank" rel="nofollow").social__icon.social__icon--yt
        a(href="https://ok.ru/timursalikhov" title="Одноклассники" target="_blank" rel="nofollow").social__icon.social__icon--ok
