mixin steps()
    section.steps&attributes(attributes)
        .steps__in
            h2.steps__title Что влияет на стоимость?
            .steps__main
                .steps__btn.steps__btn--1.active Подготовка к съемкам <br>(Препродакшн)
                .steps__block.steps__block--1.active
                    .steps__left
                        h3.steps__caption Препродакшн
                        p.steps__text Сюда входят: ведение проекта, написание режиссерского сценария, раскадровка и аниматика, кастинги, подбор съемочной локации, реквизита и др.
                    .steps__right
                        h3.steps__caption Ключевой момент - это сценарий
                        p.steps__text Сценарий задает порядок сцен и требования к съемке и декорациям, что напрямую влияет на стоимость видеопроизводства. Сценарии со сложными постановочными сценами, спецэффектами и съемками в удаленных локациях увеличивают бюджет конечного продукта.

                .steps__btn.steps__btn--2 Съемка ролика <br>(Продакшн)
                .steps__block.steps__block--2
                    .steps__left
                        h3.steps__caption Продакшн (съемка ролика)
                        p.steps__text Работа съемочной группы, производство видеоматериала. <br>Проведение съемок в соответствии с согласованным сценарием и раскадровкой.
                    .steps__right
                        p.steps__text Обычно смена начинается с утра и занимает весь световой день. В первой половине дня готовится сцена (место съемки), расставляется свет, реквизит, декорации, готовятся актеры. После этого по раскадровке снимается по очереди каждая сцена. Также в течение съемки могут проходить фото и видео съемки бэкстэйджа (съемочного процесса, работы команды).

                .steps__btn.steps__btn--3 Постпродакшн
                .steps__block.steps__block--3
                    .steps__full
                        h3.steps__caption Постпродакшн
                        p.steps__text Работа с материалом после съемок. Включает в себя: черновой монтаж,  черновой звук, чистовой монтаж, чистка, обработка, цветокоррекция, 2D и 3D графика, графика для пэкшота, чистовой звук.





