mixin feedbacks()
    section.feedbacks&attributes(attributes)
        .feedbacks__in
            h2.feedbacks__title Отзывы
            .feedbacks__slider
                .feedbacks__slide
                    iframe(src="https://www.youtube.com/embed/8woUVFGPFYA?rel=0&amp;showinfo=0" width="445" height="249" allowfullscreen)
                .feedbacks__slide
                    iframe(src="https://www.youtube.com/embed/ReIe1_Xubvw?rel=0&amp;showinfo=0" width="445" height="249" allowfullscreen)
                .feedbacks__slide
                    iframe(src="https://www.youtube.com/embed/iKTOxeDXhFw?rel=0&amp;showinfo=0" width="445" height="249" allowfullscreen)
                .feedbacks__slide
                    iframe(src="https://www.youtube.com/embed/nF5NQsCNgu8?rel=0&amp;showinfo=0" width="445" height="249" allowfullscreen)
                .feedbacks__slide
                    iframe(src="https://www.youtube.com/embed/XdV41fLYuBk?rel=0&amp;showinfo=0" width="445" height="249" allowfullscreen)
                .feedbacks__slide
                    iframe(src="https://www.youtube.com/embed/mYUka4tJf0Q?rel=0&amp;showinfo=0" width="445" height="249" allowfullscreen)

