mixin team()
    section.team&attributes(attributes)
        .team__in
            h2.team__title Наша команда
            .t-slider.team__slider
                .t-slider__slide.t-slider__slide--1
                    img(src="assets/img/team-timur.jpg" alt="Тимур Салихов").t-slider__photo
                    .t-slider__descr
                        p.t-slider__txt <span>Тимур Салихов</span> - ответственный за съемку и исполнение заказов. Видеооператор, монтажер, координатор проектов.
                        p.t-slider__txt Основное увлечение – это путешествия: <br>- ездил автостопом от Парижа до Алтая <br>- посетил вершины Эльбруса и Килиманджаро <br>- обжаривал чай "пуэр" на китайских плантациях и посетил 15 чайных ферм в трех регионах Индии.
                .t-slider__slide.t-slider__slide--2
                    img(src="assets/img/team-denis.jpg" alt="Денис Резяпов").t-slider__photo
                    .t-slider__descr
                        p.t-slider__txt <span>Денис Резяпов</span> - режиссер монтажа, оператор -постановщик.
                        p.t-slider__txt Увлекается музыкой, инсталляциями, VJингом и психологией. <br>- играл в четырех музыкальных проектах <br>- устраивал видеоинсталляции в музее современного искусства им.Лутфуллина <br>- опыт в своей профессии более 18 000 часов.
                .t-slider__slide.t-slider__slide--3
                    img(src="assets/img/team-irina.jpg" alt="Ирина Бычкова").t-slider__photo
                    .t-slider__descr
                        p.t-slider__txt <span>Денис Резяпов</span> - режиссер монтажа, оператор -постановщик.
                        p.t-slider__txt Увлекается музыкой, инсталляциями, VJингом и психологией. <br>- играл в четырех музыкальных проектах <br>- устраивал видеоинсталляции в музее современного искусства им.Лутфуллина <br>- опыт в своей профессии более 18 000 часов.
                .t-slider__slide.t-slider__slide--4
                    img(src="assets/img/team-ivan.jpg" alt="Иван Долматов").t-slider__photo
                    .t-slider__descr
                        p.t-slider__txt <span>Иван Долматов</span> - оператор-постановщик.
                        p.t-slider__txt - работал инструктором по скалолазанию в Лондоне <br>- отказался от карьеры нефтяника ради творческой профессии <br>- снял 3 короткоментажки <br>- музыкант
                .t-slider__slide.t-slider__slide--5
                    img(src="assets/img/team-pavel.jpg" alt="Иван Долматов").t-slider__photo
                    .t-slider__descr
                        p.t-slider__txt <span>Павел Бочкарёв</span> — звукорежиссер, композитор.
                        p.t-slider__txt Сочиняет авангардную музыку, поёт, играет на нескольких музыкальных инструментах. <br>- закончил Казанскую Консерваторию по классу фортепиано. <br>- работал в Казанском креативном агентстве «Седьмое небо» и уфимском «BezNebes creative agency» <br>- более 3000 рекламных работ, озвучил более 100 пропевок и более 200 рекламных роликов <br>- написал музыку к двум презентационным фильмам об Уфе, суммарное количество просмотров которых превысило 250000 <br>- является основателем артрокового трио «Бочкарев Воротников Прокофьев» и авант-роковой группы «xaos-project»
                .t-slider__slide.t-slider__slide--6
                    img(src="assets/img/team.jpg" alt="Сотрудники").t-slider__photo
