mixin portfolio()
    section.portfolio&attributes(attributes)
        .portfolio__in
            h2.portfolio__title Порфолио
            
            ul.portfolio__menu
                li(data-filter="all").portfolio__menu-item Все видео
                li(data-filter=".p-trips").portfolio__menu-item Путешествия
                li(data-filter=".p-instagram").portfolio__menu-item Для инстаграма / для сайтов
                li(data-filter=".p-animation").portfolio__menu-item Анимация / инфографика
                li(data-filter=".p-education").portfolio__menu-item Обучающее видео
                li(data-filter=".p-corporate").portfolio__menu-item Корпоративные фильмы
                li(data-filter=".p-advertisment").portfolio__menu-item Реклама
                li(data-filter=".p-reportage").portfolio__menu-item Репортаж / видеоотчеты

            ul.portfolio__videos
                li.portfolio__video.p-trips
                    iframe(src="https://www.youtube.com/embed/LkG9fkfKkGQ?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-trips
                    iframe(src="https://www.youtube.com/embed/EujvkjlcZ44?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-trips
                    iframe(src="https://player.vimeo.com/video/89721058?title=0&byline=0&portrait=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-trips
                    iframe(src="https://player.vimeo.com/video/76315875?title=0&byline=0&portrait=0" width="300" height="169" allowfullscreen)

                li.portfolio__video.p-instagram
                    iframe(src="https://player.vimeo.com/video/141765125?title=0&byline=0&portrait=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-instagram
                    iframe(src="https://www.youtube.com/embed/4tq6VygCwqk?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-instagram
                    iframe(src="https://www.youtube.com/embed/ICmFC4wtZCk?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-instagram
                    iframe(src="https://player.vimeo.com/video/172850206?title=0&byline=0&portrait=0" width="300" height="169" allowfullscreen)


                li.portfolio__video.p-animation
                    iframe(src="https://www.youtube.com/embed/JmiL74eLzjk?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-animation
                    iframe(src="https://www.youtube.com/embed/i_EfYt30Xqs?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-animation
                    iframe(src="https://www.youtube.com/embed/aeOHK8MeCcw?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-animation
                    iframe(src="https://www.youtube.com/embed/jdYPPgmlyUw?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)

                li.portfolio__video.p-education
                    iframe(src="https://www.youtube.com/embed/R37GB7Vx-Jw?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)

                li.portfolio__video.p-corporate
                    iframe(src="https://www.youtube.com/embed/twXeFOxrUT0?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-corporate
                    iframe(src="https://www.youtube.com/embed/HBRlniJQxq4?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)

                li.portfolio__video.p-advertisment
                    iframe(src="https://www.youtube.com/embed/JmiL74eLzjk?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-advertisment
                    iframe(src="https://www.youtube.com/embed/i_EfYt30Xqs?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)

                li.portfolio__video.p-reportage
                    iframe(src="https://www.youtube.com/embed/ypBYPpeTPQ8?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                 li.portfolio__video.p-reportage
                    iframe(src="https://player.vimeo.com/video/78760997?title=0&byline=0&portrait=0" width="300" height="169" allowfullscreen)
                li.portfolio__video.p-reportage
                    iframe(src="https://www.youtube.com/embed/K9GHP9eMRDg?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)
                 li.portfolio__video.p-reportage
                    iframe(src="https://player.vimeo.com/video/163907646?title=0&byline=0&portrait=0" width="300" height="169" allowfullscreen)

                li.portfolio__video.p-reportage
                    iframe(src="https://www.youtube.com/embed/pZEz0Bf7IH0?rel=0&amp;showinfo=0" width="300" height="169" allowfullscreen)


