include ../hole/hole

mixin services()
    section.services&attributes(attributes)
        .services__in
            +hole-6()
            +hole-7()
            h2.services__title Наши услуги

            .s-slider.services__slider
                .s-slider__slide.s-slider__slide--1
                    p.s-slider__text - это производство видеоматериалов для любого бизнеса, которые помогут привлечь внимание целевой аудитории и решить поставленные задачи.
                .s-slider__slide.s-slider__slide--2
                    .s-slider__box
                        h3.s-slider__box-title Корпоративный <br>имиджевый фильм
                        ul.s-slider__box-list
                            li.s-slider__box-item Комплексный сценарий
                            li.s-slider__box-item Инфографика 
                            li.s-slider__box-item Видеографика 
                            li.s-slider__box-item Копирайтинг 
                            li.s-slider__box-item Озвучка 
                            li.s-slider__box-item Звуковой дизайн 
                            li.s-slider__box-item Менеджмент проекта 
                            li.s-slider__box-item Постановочные съемки
                            li.s-slider__box-item Монтаж
                        p.s-slider__price Цена 300 000 руб.
                        a(href="#form-popup" role="button").s-slider__button.js-popup проконсультироваться
                    .s-slider__box
                        h3.s-slider__box-title Презентационный ролик <br>о компании или услугах
                        ul.s-slider__box-list
                            li.s-slider__box-item Сценарий
                            li.s-slider__box-item Копирайтинг
                            li.s-slider__box-item 1-3 съемочных дня
                            li.s-slider__box-item Монтаж
                            li.s-slider__box-item Видеографика + Инфографика
                            li.s-slider__box-item Свет
                            li.s-slider__box-item Написание музыки
                            li.s-slider__box-item Менеджмент проекта
                        p.s-slider__price Цена 135 000 руб.
                        a(href="#form-popup" role="button").s-slider__button.js-popup проконсультироваться


                .s-slider__slide.s-slider__slide--3
                    .s-slider__box
                        h3.s-slider__box-title Рекламный ролик для ТВ, <br>YOUTUBE 15-30 секунд
                        ul.s-slider__box-list
                            li.s-slider__box-item Сценарий
                            li.s-slider__box-item Копирайтинг текста
                            li.s-slider__box-item Озвучка
                            li.s-slider__box-item Создание графики
                            li.s-slider__box-item Написание музыки
                            li.s-slider__box-item Съемка один день
                            li.s-slider__box-item Световое оборудование
                        p.s-slider__price Цена 70 000 руб.
                        a(href="#form-popup" role="button").s-slider__button.js-popup проконсультироваться
                    .s-slider__box
                        h3.s-slider__box-title Обзорный ролик о компании. <br>Простая версия на 1-3 минуты
                        ul.s-slider__box-list
                            li.s-slider__box-item 1 съемочный день без сценария 
                            li.s-slider__box-item Монтаж ролика из лучших моментов
                            li.s-slider__box-item Копирайтинг текста
                            li.s-slider__box-item Озвучка
                            li.s-slider__box-item Подбор музыки
                        p.s-slider__price Цена 37 000 руб.
                        a(href="#form-popup" role="button").s-slider__button.js-popup проконсультироваться


                .s-slider__slide.s-slider__slide--4
                    .s-slider__box
                        h3.s-slider__box-title Информационный ролик <br>из видео графики до 30 сек
                        ul.s-slider__box-list
                            li.s-slider__box-item Копирайтинг текста 
                            li.s-slider__box-item Монтаж ролика  до 30 секунд 
                            li.s-slider__box-item Создание видеографики
                            li.s-slider__box-item Озвучка
                        p.s-slider__price Цена 25 000 руб.
                        a(href="#form-popup" role="button").s-slider__button.js-popup проконсультироваться
                    .s-slider__box
                        h3.s-slider__box-title Репортажный видеоотчет <br>о событии
                        ul.s-slider__box-list
                            li.s-slider__box-item Несколько съемочных часов 
                            li.s-slider__box-item Монтаж видео на несколько минут 
                            li.s-slider__box-item Использование лицензированной музыки 
                            li.s-slider__box-item Съемка видеоотзывов на проф.микрофон 
                        p.s-slider__price Цена 15 000 руб.
                        a(href="#form-popup" role="button").s-slider__button.js-popup проконсультироваться
