mixin hole-1()
    .hole.hole--1&attributes(attributes)
        img(src="assets/img/pic-1.jpg" alt="").hole__img
mixin hole-2()
    .hole.hole--2&attributes(attributes)
        img(src="assets/img/pic-2.jpg" alt="").hole__img
mixin hole-3()
    .hole.hole--3&attributes(attributes)
        img(src="assets/img/pic-3.jpg" alt="").hole__img
mixin hole-4()
    .hole.hole--4&attributes(attributes)
        img(src="assets/img/pic-4.jpg" alt="").hole__img
mixin hole-5()
    .hole.hole--5&attributes(attributes)
        img(src="assets/img/pic-5.jpg" alt="").hole__img
mixin hole-6()
    .hole.hole--6&attributes(attributes)
        img(src="assets/img/pic-6.jpg" alt="").hole__img
mixin hole-7()
    .hole.hole--7&attributes(attributes)
        img(src="assets/img/pic-7.jpg" alt="").hole__img
