.main-inner
    container(900px)
    padding 65px 20px 70px 20px
    +above(768px)
        padding 65px 20px 70px 60px

    &__title
        color #3b3b3b
        font(Bold)
        font-size 24px
        line-height 1
        text-transform uppercase
        margin 0 0 40px
        text-align center
        +above(768px)
            text-align left

    &__text
        color #3b3b3b
        font()
        font-size 16px
        line-height 1
        margin 0 0 60px
        text-align center
        +above(768px)
            text-align left

    &__social
        margin 0 auto

    &__form
        margin 0 0 100px

.contact-links
    display flex
    flex-flow row wrap
    justify-content space-between
    width 100%
    list-style none
    padding 0 0 0 20px
    margin 0 0 70px
    +above(480px)
        padding-left 50px

    &__item
        display inline-block
        flex 0 0 auto
        color #3b3b3b
        font()
        font-size 14px
        line-height 1
        padding 0
        position relative
        margin 0 5px 20px 0
        &--phone
            padding-left 45px
            &::before
                content ""
                retinaSprite($icon_phone_group)
                position absolute
                top -1px
                left 0
        &--skype
            padding-left 38px
            &::before
                content ""
                retinaSprite($icon_skype_group)
                position absolute
                top 2px
                left 0
        &--email
            padding-left 37px
            &::before
                content ""
                retinaSprite($icon_email_group)
                position absolute
                top 2px
                left 0

    &__link
        color #3b3b3b
        font(Medium)
        font-size 18px
        line-height 1
        text-decoration none
        &:hover
            color @color
            text-decoration none
            ^[0]__item--email &
                text-decoration underline

