mixin header-inner()
    header.header-inner&attributes(attributes)
            .header-inner__in
                .header-inner__logo(title="Horizon")
                .header-inner__title Профессиональная <br><strong>видеосъемка для бизнеса</strong>
                nav.header-inner__nav <a href="index.html" class="header-inner__nav-link">Главная</a> / Контакты


