.clients
    padding 50px 0 10px
    +above(480px)
        padding 70px 0 50px

    &__title
        color #44afdd
        font(Bold)
        font-size 28px
        text-transform uppercase
        text-align center
        padding 0 10px
        margin 0 auto 60px

    &__logos
        container(1100px)
        padding 0
        text-align center
        font-size 0

    &__logo
        display inline-block
        vertical-align middle
        max-width 100%
        height auto
        margin 0 20px 40px
