mixin clients()
    section.clients&attributes(attributes)
        h2.clients__title Клиенты
        .clients__logos
            img(src="assets/img/clients/01.png" alt="").clients__logo
            img(src="assets/img/clients/02.png" alt="").clients__logo
            img(src="assets/img/clients/03.png" alt="").clients__logo
            img(src="assets/img/clients/04.png" alt="").clients__logo
            img(src="assets/img/clients/05.png" alt="").clients__logo
            img(src="assets/img/clients/06.png" alt="").clients__logo
            img(src="assets/img/clients/07.png" alt="").clients__logo
            img(src="assets/img/clients/08.png" alt="").clients__logo
            img(src="assets/img/clients/09.png" alt="").clients__logo
            img(src="assets/img/clients/10.png" alt="").clients__logo
            img(src="assets/img/clients/11.png" alt="").clients__logo
            img(src="assets/img/clients/12.png" alt="").clients__logo
            img(src="assets/img/clients/13.png" alt="").clients__logo
            img(src="assets/img/clients/14.png" alt="").clients__logo
            img(src="assets/img/clients/15.png" alt="").clients__logo
            img(src="assets/img/clients/16.png" alt="").clients__logo
